html{
  background-color: black;

}
.App{
  padding: 1vh;
  background-color: black;
}

.title{
  font-size: calc(1vmin + 18px);
  color: #F3EFE0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.1px;
}

.User_logo{
  width: 7vmin;
  height: 7vmin;
  margin: 1vmin;
}

.Nav-bar{
  border-radius: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff1e;
  max-width: 80dvw;
  margin: auto;
  position: fixed center;
}

.nav-right-elements-desktop{
  margin: auto;
  display: flex;
  flex-direction: row;
}

.nav-right-elements-mobile{
  margin: auto;
  flex-direction: row;
  content-visibility: hidden;
  display: none;
}

.nav-left-elements{
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Nav-link {
  color: #F3EFE0;
  text-decoration: none;
  font-weight: 100;
  font-size: calc(1vmin + 18px);
  margin: 1vmin;
  transition: text-decoration 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 1;
}

.Nav-link:hover {
  opacity: 0.5; 
}


.App-body{
  background-image: url('../public/background.jpg');
  min-height: 98dvh;
  color: #F3EFE0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.body-items{
  display: flex;
  align-items: center;
  max-width: 75%;
  margin: auto;
}

.App-link {
  color: #F3EFE0;
  text-decoration: underline;
  font-weight: 100;
  font-size: calc(1vmin + 10px);
  margin: 1vmin;
  
}

.welcome-title {
  font-size: 10vmin;
  color: #F3EFE0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.description {
  font-size: 3vmin;
  color: #F3EFE0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

@media only screen and (max-width: 1000px) {
  .Nav-bar{
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff1e;
    max-width: 90%;
    margin: auto;
  }

  .nav-right-elements-desktop{
    content-visibility: hidden;
  }

  .nav-right-elements-mobile{
    content-visibility: visible;
    display: flex;
  }
  .body-items{
    display: ruby;
    align-items: center;
    padding: 1vh;
  }
}